<script>
  function hasGetUserMedia() {
    return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia || navigator.msGetUserMedia);
  }
  if (hasGetUserMedia()) {
    console.log("Good to go!");
  } else {
    alert('getUserMedia() is not supported in your browser');
  }
</script>

<div class="donor-container">
<% if current_user %>
  <!-- <div class="donor-info"> -->
    <p class="donation donor-info">Donation: <%= @donor.donation %></p>
    <p class="donor-name donor-info">Donor's name: <%= @donor.name %></p>

  <!-- </div> -->

  <video autoplay id="video"></video>
  <div id="center-buttons">
    <button class="rec buttons" id="rec" onclick="onBtnRecordClicked()">REC</button>
    <button class="stop disable-buttons" id="stop" onclick="onBtnStopClicked()">STOP</button>
    <button class='send disable-buttons' id="send" onclick='onBtnSendClicked("<%= @donor.id %>")'>SEND</button>
  </div>
  <p class="user_name">Welcome, <span><%= current_user.name %></span>! | <%= link_to 'Log Out', logout_path, method: :delete %></p>
<% else %>
  <p>You need to <%= link_to 'Log In', '/auth/google_oauth2' %> to record a video</p>
  <h3>Note:</h3>
  <ul>
    <li><p>This application is only supported on Chrome browser. <a href="https://www.google.com/chrome/browser/features.html?brand=CHBD&gclid=CjwKEAjw07nJBRDG_tvshefHhWQSJABRcE-Z1qtDn5A7_1hN4Q0T8muwdxMWMxUc_Iep-uIIz9L5JxoCNJLw_wcB&dclid=CLLOtKfOm9QCFQx-YgodbBcJdw">Download Chrome</a></p></li>
    <li><p>To be able to upload video to YouTube is necessary to have a YouTube channel.</p></li>
    <li><p><a href="https://www.youtube.com/create_channel">Click here to create a YouTube channel.</a></p></li>
  </ul>
<% end %>
</div>
