<script>
  function hasGetUserMedia() {
    return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia || navigator.msGetUserMedia);
  }
  if (hasGetUserMedia()) {
    console.log("Good to go!");
  } else {
    alert('getUserMedia() is not supported in your browser');
  }
</script>

<div class="donor-container">
<% if current_user %>
  <!-- <div class="donor-info"> -->
    <p class="donation donor-info">Donation: <%= @donor.donation %></p>
    <p class="donor-name donor-info">Donor's name: <%= @donor.name %></p>

  <!-- </div> -->

  <video autoplay id="video"></video>
  <div id="center-buttons">
    <button class="rec buttons" id="rec" onclick="onBtnRecordClicked()">REC</button>
    <button class="stop disable-buttons" id="stop" onclick="onBtnStopClicked()">STOP</button>
    <button class='send disable-buttons' id="send" onclick='onBtnSendClicked("<%= @donor.id %>")'>SEND</button>
  </div>
  <p class="user_name">Welcome, <span><%= current_user.name %></span>! | <%= link_to 'Log Out', logout_path, method: :delete %></p>
<% else %>
  <p>You need to <%= link_to 'Log In', '/auth/google_oauth2' %> to record a video</p>
<% end %>
</div>
