<script>
  function hasGetUserMedia() {
  return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia || navigator.msGetUserMedia);
}
if (hasGetUserMedia()) {
  console.log("Good to go!");
} else {
  alert('getUserMedia() is not supported in your browser');
}
</script>

<div class="donor-container">
<% if current_user %>
  <p class="user_name">Welcome, <span><%= current_user.name %></span>! | <%= link_to 'Log Out', logout_path, method: :delete %></p>
  <video autoplay id="video"></video>
  <div id="center-buttons">
    <button class="rec buttons" onclick="onBtnRecordClicked()">REC</button>
    <button class="stop buttons" onclick="onBtnStopClicked()">STOP</button>
    <button class='send buttons' onclick='onBtnSendClicked("<%= @donor.id %>")'>SEND</button>
  </div>
  <p class="donor-name">Donor's name: <%= @donor.name %> | Donation: <%= @donor.donation %></p>
<% else %>
  <p>You need to <%= link_to 'Log In', '/auth/google_oauth2' %> to record a video</p>
<% end %>
</div>




