<script>
  function hasGetUserMedia() {
    return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia || navigator.msGetUserMedia);
  }
  if (hasGetUserMedia()) {
    console.log("Good to go!");
    $("#mobile").addClass("display-none");
  } else {
    alert('getUserMedia() is not supported in your browser');
  }
</script>
<div class="container">
  <div class="row">

    <% if current_user %>
    <div class="col-sm-11">
      <div class="col-sm-6 ">
        <div class="campaigns pull-right">
          <p><%= @donor.first_name %> <%= @donor.last_name %> just donated $<%= @donor.donation %> via <a href="https://impact.newstorycharity.org/campaigns/<%= @donor.campaign_slug %>"><%= @donor.campaign_name %></a> part of <%= @donor.affiliate %>.</p>
          <p>See their donation <a href="https://manage.newstorycharity.org/donations/<%= @donor.secure_id %>">here.</a></p>
        </div>
      </div><!-- col-sm-6 -->
      <div class="col-sm-6">
        <div class="donorDiv campaigns">
          <p class="donation donor-info">Donation: $<%= @donor.donation %></p>
          <p class="donor-name donor-info">Donor's name: <%= @donor.first_name %></p>
        </div>
      </div><!-- col-sm-6 -->
      </div><!-- .col-sm-11 -->

      <div class="col-sm-11 pager">
        <div class="video-container">
          <video autoplay id="video"></video>
          <div id="center-buttons">
            <button class="rec buttons" id="rec" onclick="onBtnRecordClicked()">REC</button>
            <button class="stop disable-buttons" id="stop" onclick="onBtnStopClicked()">STOP</button>
            <button class='send disable-buttons' id="send" onclick='onBtnSendClicked("<%= @donor.id %>")'>SEND</button>
          </div>
        </div><!-- .video-container -->
      </div><!-- col-sm-11 -->

        <!-- MOBILE FORM -->
          <div id="mobile" class="">
            <form action="/videos" method="post" enctype="multipart/form-data">
              <input id="file-input" class="buttons" type="file" name="webmasterfile" accept="video/*" capture=""><br/>
              <input class="mobile-form" type="text" name="title" value="video_<%= @donor.key %>" hidden><br/>
              <input class="mobile-form" type="text" name="description" value="SnapThank" hidden><br/>
              <input class="mobile-form" type="text" name="donor_id" value="<%= @donor.id %>" hidden><br/>
              <input id="submit" type="submit" name="upload" value="Upload">
            </form>
          </div><!-- id=mobile -->



      <iframe id="uploading" class="display-none" src="https://www.bis.org/img/uploading.gif" frameBorder="0"></iframe>
      <p class="sending display-none">Uploading...</p>
      <img id="landscape" class="display-none" src="/landscapapp.png">
  <% else %>
      <div class="col-sm-11 pager">
          <div class="card">
        <h3>Note:</h3>
          <p>To upload video to YouTube you need a Google and an YouTube account. You also need to create a YouTube channel if you don't have one.</p>
          <div style="padding:10px;">
            <p>If you don't have Google account, <%= link_to "click here", "https://accounts.google.com/ServiceLogin", target: :_blank %> to create one.</p>
            <br>
            <p>To go to Youtube home page <%= link_to "click here", "https://www.youtube.com/", target: :_blank %> and create your account or channel.</p>
          </div><!-- style -->
      </div><!-- card -->


        </div><!-- .col-ms-8 -->
        <div class="col-sm-11 pager">
          <a href="/auth/google_oauth2"><img class="SignInGoogle" src="/signInGoogle.png"></a>
        </div><!-- .col-ms-8 -->
    <% end %>
    <div class="error-message"></div>
    <center></center>
  </div><!-- .row -->
</div><!-- .container -->
